@keyframes ticker {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-ticker {
    display: inline-flex;
    animation: ticker 30s linear infinite;
  }